*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, rgba(28,184,186,1) 0%, rgba(37,226,140,1) 100%);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}




.frame{
    height: 80%;
    width: 60%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px rgba(255, 255, 255, 0.7) solid;
    border-top: 1px rgba(255, 255, 255, 0.5) solid;
    box-shadow: rgb(0 0 0 / 50%) 10px 10px 10px 2px;
    transform-style: preserve-3d;
}


.header{
    width: 100%;
    flex-grow: 1;
    color: white;
    font-size: 40px;
    padding-left: 10px;
}


.bodyPanel{
    width: 100%;
    flex-grow: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.display{
    width: 100%;
}

.calculation{
    width: 100%;
    height: 40px;
    font-size: 40px;
    direction: rtl;
}

@font-face {
    font-family: seven_segement;
    src: url();
}


#result{
    width: 100%;
    height: 90px;
    font-size: 60px;
    border: 0;
    font-family: seven_segement;

}

#result:focus{
    outline: 0;
}
.show:focus{
    outline: 0;
}

.keypad{
    padding-top: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.row{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-size: 30px;
}

.btn,#equal,#clear,#back{
    border: 0;
    flex-grow: 1;
    color: white;
    font-size: 100%;
    background: transparent;
}


.btn:hover,#equal:hover,#clear:hover,#back:hover{
    transition: 1s;
    border-radius: 10px;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    background: rgba(0, 0, 0, 0.2);
    color: black;
}

.btn:active,#equal:active,#clear:active,#back:active{
    transition: 1s;
    border-radius: 10px;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    background: rgba(0, 0, 0, 0.2);
    color: black;
}

/* .btn:focus,#equal:focus,#clear:focus,#back:focus{
    transition: 0.1s;
    border-radius: 10px;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    background: rgba(0, 0, 0, 0.2);
    color: black;
} */

